<div id="content-wrapper">
    <div class="inner clearfix">
      <section id="main-content">
        {{ content }}
        <div class="projects">
          <div class="project">
            <div class="pic">
              <img src="https://thumbs.dreamstime.com/b/projects-concept-black-chalkboard-d-rendering-handwritten-top-view-office-desk-lot-business-office-supplies-79906734.jpg" alt="">
            </div>
            <div class="content">
              <h3 class="title">Image</h3>
              <p>This is ...</p>
        </div>
    </div>
</div>