---
---

@import "{{site.theme}}";

h1 {
    color: green;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 2%;
    margin: 0 auto;
    background: yellowgreen;
    border: 1px solid black;
}

header {
    text-align: center;
    border-style: dotted;
    padding: 0 1em;
    margin: 0 auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(61, 61, 209, 0.8432835820895522) 57%,
      rgba(0, 212, 255, 1) 100%
    );
  }

.top-box {
  padding: 15px;
  text-align: right;
}


.importance-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.importance {
  background: yellow;
  padding: 15%;
  padding-top: 2%;
  border: 1px solid black;
}
  